.multimedia-banner {
  position: relative;
}

.multimedia-banner img {
  width: 100%;
  max-height: 750px;
  object-fit: cover;
}

.multimedia-banner .play-pause-button {
  display: none;
}

.multimedia-banner .media-container video,
.multimedia-banner .media-container img {
  width: 100%;
  max-height: 750px;
  object-fit: cover;
  border-radius: 13px;
}

.multimedia-banner .buttons-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.multimedia-banner .buttons-wrapper a,
.multimedia-banner .buttons-wrapper p {
  margin: 0;
}

/* default */
.multimedia-banner .information {
  position: absolute;
  padding: 2rem;
}

/* extensions */
.multimedia-banner.top-left .information {
  top: 0;
  left: 0;
}
.multimedia-banner.middle-left .information {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.multimedia-banner.bottom-left .information {
  bottom: 0;
  left: 0;
}
.multimedia-banner.top-right .information {
  top: 0;
  right: 0;
}
.multimedia-banner.middle-right .information {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.multimedia-banner.bottom-right .information {
  bottom: 0;
  right: 0;
}

/* text color */
.multimedia-banner.text-white {
  color: #fff;
}
.multimedia-banner.text-black {
  color: #000;
}



@media (width >= 900px) {

}