.multimedia-banner {
  position: relative;
}

.multimedia-banner video {
  width: 100%;
  max-height: 750px;
  object-fit: cover;
}

.multimedia-banner .play-pause-button {
  display: none;
}

/* default */
.multimedia-banner .information {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
}

/* extensions */
.multimedia-banner .information.align-top-left {
  top: 0;
  left: 0;
}
.multimedia-banner .information.align-middle-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.multimedia-banner .information.align-bottom-left {
  bottom: 0;
  left: 0;
}
.multimedia-banner .information.align-top-right {
  top: 0;
  right: 0;
}
.multimedia-banner .information.align-middle-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.multimedia-banner .information.align-bottom-right {
  bottom: 0;
  right: 0;
}


@media (width >= 900px) {

}